
/*#################
##### slidshow ########
###################*/

.nav-item:hover{
    border-top: 4px solid whitesmoke;
    border-bottom: 4px solid whitesmoke;
    padding: 2px 2px;
    border-radius: 2px;
}
#loading {
    background: url('image/spinner.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.navbar-brand{
    font-family:'Playfair Display', serif;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}
body{
   
 background-image: url('image/wa-16.gif');
}
.nav-item{
   transition: all 0.6s ease 0s; 
   font-family:'Playfair Display', serif;
   letter-spacing: 3px;
}
.div-back {
    border: 1px solid #000;
    
    clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0% 80%, 0 0);
    height: 90vh;
    width: 100%;
    
    position: relative;
    background-image: url(image/im-5.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    margin-bottom: 40px;
}
.div-back h1{
    color: #fff; 
    font-family:'Playfair Display', serif;
    margin: 15% 0 0 30%;
    font-size: 350%;
}

.header-buttons a {
    border: 2px solid blanchedalmond;
    border-radius: 100px;
    margin:10% 0 0 45% ;
    background: #000;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    line-height: 6!important;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(11 5 27);
    font-weight: bolder;
}

.header-buttons a:hover {
    text-decoration: none;
    border: 1px solid rgb(5, 3, 10);
    color: rgb(235, 212, 212);
    background: #4d0026;
    box-shadow: 0 0 20px 0 rgb(235, 212, 212);
    transition: 0.8s;
}
.bx img{
    border:2px solid #000;
}
.bx{
    margin:0px 0 50px 0;
}
.types {
    box-shadow: 0px 3px 10px 0 #adadad;
    border-bottom-left-radius: 7rem;
    border-top-right-radius: 5rem;
}

.text {
    font-weight: lighter;
    color: #333333;
    
}
.header-btn{
 border: 1px solid blanchedalmond;
 border-radius: 100px;
 margin:3% 30% 0 30% ;
 background: #000;
 color: #fff!important;
 font-size: 1rem;
 line-height: 3!important;
 text-align: center;
 
 font-weight: bolder;
}
.header-btn:hover{
    text-decoration: none;
    border: 1px solid rgb(5, 3, 10);
    color: rgb(235, 212, 212);
    background: #4d0026;
    transition: 0.8s;
    box-shadow: 0 0 20px 0 rgb(235, 212, 212);

}
.bx h3{
    color: maroon;
}
.footersection {
    width: 100%;
    height: auto;
    padding: 30px 0 20px 0;
    background: #333333;
    position: relative;
}

.footersection p {
    color: snow;
}

.footersection li a {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 600;
    color: snow;
    text-transform: capitalize;
}

.footersection h3 {
    text-transform: uppercase;
    color: snow;
    font-size: 1.2rem !important;
    font-weight: bold;
    text-shadow: 0 2px 5px #333333;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #846add;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
    background: #846add;
    color: #ffffff;
    transition: 0.7s;
}

@media(max-width: 768px) {
    #myBtn {
        margin-right: -1.6rem;
    }
}

@media(max-width: 768px) {
    .footer-div {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .contect-footer {
        margin-top: 10px;
    }
}

.line-up {
    margin-bottom: 10px;
    position: relative;
}

.line-one {
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #846add;
    border-radius: 10px;
    position: relative;
    margin-right: 10px;
    transition: all .4s linear;
    margin-bottom: 0.5rem;
}

.line-two {
    display: inline-block;
    width: 135px;
    height: 3px;
    background-color: #846add;
    border-radius: 10px;
    position: relative;
    transition: all .4s linear;
    margin-bottom: 0.5rem;
}

.social {
    display: flex;
    font-size: 23px;
    margin-top: 2.7rem;
    margin-right: 29rem;
    transition: all 0.7s ease 0s;
}
.social a i:hover{
    background-color:green;
    color: white!important;
}

@media(max-width: 768px) {
    .social {
        display: flex;
        font-size: 23px;
        margin-top: 2.7rem;
        margin-right: 0px;
    }
}

.fb:hover {
    color: #3b5999!important;
    transition: 0.5s;
    font-size: 30px;
}

.insta:hover {
    color: #e4405f!important;
    transition: 0.5s;
    font-size: 30px;
}

.linked:hover {
    color: #0077B5!important;
    transition: 0.5s;
    font-size: 30px;
}

.tweet:hover {
    color: #55acee!important;
    transition: 0.5s;
    font-size: 30px;
}

.line-down {
    margin-bottom: 10px;
    position: relative;
}

.line-three {
    display: inline-block;
    width: 49.5rem;
    height: 1.5px;
    background-color: #846add;
    border-radius: 10px;
    position: relative;
    margin-right: 10px;
    transition: all .4s linear;
}

@media(max-width: 768px) {
    .line-three {
        display: inline-block;
        width: 20rem;
        height: 1.5px;
        background-color: #4cc2c0;
        border-radius: 10px;
        position: relative;
        margin-right: 10px;
        transition: all .4s linear;
    }
}

.line-four {
    display: inline-block;
    width: 10rem;
    height: 1.5px;
    background-color: #846add;
    border-radius: 10px;
    position: relative;
    transition: all .4s linear;
}

.footer_contect {
    display: flex !important;
}

@media(max-width: 768px) {
    .footer_contect {
        flex-flow: column;
    }
}

.line_icon:hover {
    margin-left: 15px;
    transition-delay: 0.5s;
}
.gujrati{
    width: 100%;
    height: auto;
}





